@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
box-sizing: border-box;
font-family: 'Audiowide', sans-serif;
color: #777
font-size: 1.1em;
padding: 5px
}

html, body {
    margin: 0;
    padding: 5px;
    font-size: 1.1em;
    background-color: rgb(24, 19, 19);
    color: white;
}
.nav contentnav a {
    text-align: center;
    padding: .5em;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size; 1.2em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.class-nav {
    display:inline-block;
    margin: 2;

}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-image: url("GRIN WEB/council.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    padding-bottom: 20px;
    color:white;
    


}
h1 {
    color: white;
}

.guild-name {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.content-section {
    margin: 1em;
}

.container {
    max width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.class-section {
    display: grid;
    text-align: center;
    font-size; 1.1em;
    font-weight: lighter;
    border-bottom: 2px solid rgba(255, 255, 255, .3)
    
}

.class-content-nav {
    list-style-type: none;
    text-align: center;
    padding: 20px;
    margin: 20px;

  }
  
  .class-content-nav li {
    display: inline-block;
    font-size: 20px;
    padding: 150px;
  }

  #tim{
    color: skyblue;
    font-family: 'Press Start 2P';
    font-size: 18px;
    line-height: 1.2em;
  }

.shop-item {
    margin: 30px;
  }

.shop-item-title {
display: block;
text-align: center;
width: 100%;
font-weight: bold;
font-size: 1.5em;
color: white;
margin-bottom: 15px;
}

.shop-item-image {
height: 250px;
}

.shop-item-details {
display: flex;
align-items: center;
padding: 5px;
}

.shop-item-price {
flex-grow: 1;
}

.shop-items {
    display:inline-flex;
    flex-wrap: wrap;
    width: auto;
    flex-wrap: 1;
    justify-content: space-around;
    
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
}

.cart-quantity {
    width: 20%;
}

.cart-item-title {
    color: #faf7f7;   
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: black;
    color:red

}

.cart-quantity-input {
    height: 34px;
    width: 75px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;

}

.cartTotal {
    text-align: center;
    font-size: 1.75em;
    margin: 40px auto 80px auto;
    
}

.btnPurchase {
    display: block;
    text-align: center;
    font-size: 1em;
    margin: 40px auto 80px auto;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    }
    
    .btn-primary {
    color: black;
    background-color: red;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    }
    
    .btn-primary:hover {
        background-color:black;
        color:red
        
    }
.cart-items {
    color:
}

.deathKnight {
    background-image: url("GRIN WEB/dkwallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
    color:white;
}

.demonHunter {
    background-image: 
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 20px;
    color:white;
    background-size:
}

.resourceListol{
    list-style-type: none;
    display:flex;
    flex-direction: row;    
}

.classHeadings{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.className{
    display:flex;
    flex-direction:row;
    max-width: 325px;
    text-align: center;
    flex-wrap: wrap;
}
.flexContainer{
    display: flex;
    flex: 1;
    height: 90%;
    max-width: fit-content;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.alertBox{
    background-color: black;
    color: crimson;
}

